version: "3.9"

services:
  gateway.api:
    image: gateway.api
    container_name: gateway.api
    build:
      context: .
      dockerfile: src/Gateway/Gateway.API/Dockerfile
    ports:
      - "${GATEWAY_PORT}:${GATEWAY_PORT}"
    environment:
      ASPNETCORE_URLS: "http://0.0.0.0:${GATEWAY_PORT}"
      ASPNETCORE_ENVIRONMENT: "${ASPNETCORE_ENVIRONMENT}"
    depends_on:
      works.api:
        condition: service_started
      filestorage.api:
        condition: service_started
      analysis.api:
        condition: service_started
    networks:
      - backend
    restart: unless-stopped

  works.api:
    image: works.api
    container_name: works.api
    build:
      context: .
      dockerfile: src/Works/Works.API/Dockerfile
    expose:
      - "${WORKS_PORT}"
    environment:
      ASPNETCORE_URLS: "http://0.0.0.0:${WORKS_PORT}"
      ASPNETCORE_ENVIRONMENT: "${ASPNETCORE_ENVIRONMENT}"
    volumes:
      - works_data:/app/data/
    networks:
      - backend
    restart: unless-stopped

  filestorage.api:
    image: filestorage.api
    container_name: filestorage.api
    build:
      context: .
      dockerfile: src/FileStorage/FileStorage.API/Dockerfile
    expose:
      - "${FILESTORAGE_PORT}"
    environment:
      ASPNETCORE_URLS: "http://0.0.0.0:${FILESTORAGE_PORT}"
      ASPNETCORE_ENVIRONMENT: "${ASPNETCORE_ENVIRONMENT}"
    volumes:
      - files_data:/app/data/
      - files_storage:/app/files/
    networks:
      - backend
    restart: unless-stopped

  analysis.api:
    image: analysis.api
    container_name: analysis.api
    build:
      context: .
      dockerfile: src/Analysis/Analysis.API/Dockerfile
    expose:
      - "${ANALYSIS_PORT}"
    environment:
      ASPNETCORE_URLS: "http://0.0.0.0:${ANALYSIS_PORT}"
      ASPNETCORE_ENVIRONMENT: "${ASPNETCORE_ENVIRONMENT}"
    volumes:
      - analysis_data:/app/data/
    networks:
      - backend
    restart: unless-stopped

networks:
  backend:
    driver: bridge

volumes:
  works_data:
  files_data:
  files_storage:
  analysis_data:
